[Desktop Entry]
Type=Application
Version=1.0
Name=Spoty
GenericName=Music Player
Comment=A native Spotify music client
Exec=spoty %u
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;spoty;
Icon=spoty
StartupNotify=true
StartupWMClass=spoty
MimeType=x-scheme-handler/spotify;
